body {
    background-color: #e7e6e6;
    color: #0a213e;
    font-family: 'Roboto', sans-serif;
    padding: 2em;
    font-size: small;
    text-align: justify;
}
  

p{
    padding-right: 2em;
}
path {
    stroke-width: 0.5px;
    cursor: default;
  }
  
path:hover, path.highlighted {
    fill: #e7e6e6;
  }

  
div.tooltip {
      position: absolute;
      background-color: #e7e6e6;
      border: 1px solid #0a213e;
      color: #0a213e;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: small;
      padding: 4px 8px;
      display: none;
  }

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.container {
    margin:auto;
    width: 80%;
    height: auto;
}

.sub-container-one {
    width: 50%;
    height: auto;
    float: left;
}


.sub-container-two {
    width: 50%;
    height: auto;
    float: right;
}

.footnote{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: x-small;
}

svg {
    margin: auto;
    display: block;
}


